{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👌My Django Project</title>

</head>

<body>
    <h1 class="main-header">
        My Django Project writing now
    </h1>
    <p class="main-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem temporibus eaque tenetur sapiente consequuntur
        est commodi, vel, iusto at necessitatibus velit quam minima eius numquam assumenda odio voluptate, id nemo.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam iure nihil dicta harum maiores alias praesentium,
        asperiores cum facilis quibusdam, ut, dolorum eveniet incidunt cumque delectus est tempora maxime? Illum
        corporis odit sequi vel, ullam explicabo fugiat quod quam natus quas autem dicta soluta rerum repudiandae eos
        tempore voluptate culpa dolores dignissimos. Praesentium, delectus? Iusto perferendis voluptatem dignissimos
        excepturi, accusantium mollitia saepe esse ratione ad sint blanditiis cum laudantium. Omnis possimus aut,
        blanditiis totam placeat laudantium amet! Sint voluptatibus similique numquam, tenetur quaerat, minima totam
        fugiat provident vero enim recusandae. <a href="https://www.youtube.com/@Hayot_Talaba">My You Tube</a> Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Eum maiores quas eveniet, eius officiis debitis, fuga ullam
        corrupti autem quibusdam pariatur.
    </p>
    <p class="extra-text">
        quod magnam fugiat, ut cupiditate non a velit aut enim magni optio ea eligendi delectus sit! Maxime ad facilis
        eos accusamus, consequatur vitae! Tenetur odio dolor modi voluptatibus cum esse velit natus veritatis voluptates
        aliquam eaque voluptate, numquam nemo beatae blanditiis! Id blanditiis corporis nostrum, ex quaerat, itaque
        natus, accusamus impedit ratione cupiditate mollitia laboriosam a. Sequi, dolores officia, enim delectus omnis
        obcaecati molestiae nesciunt iusto ab magnam quia praesentium officiis magni qui aliquid eum rerum nostrum
        quibusdam iure eveniet! Mollitia quas quis porro et pariatur eveniet voluptate officia repellat provident enim,
        nam non adipisci corrupti cumque ad aperiam dolor? Velit debitis perspiciatis ad, deleniti porro odit neque in
        fugiat minima, provident eum totam illo possimus! Officia ipsam maiores praesentium? Iure, id nobis? Animi
        facilis doloremque commodi nemo consequatur ratione quisquam dignissimos, dolores debitis, maxime, deleniti
        voluptas voluptatibus?
    </p>
    <button class="signin-button">Sign in</button>

</body>

</html>
