
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python</title>

</head>

<body>
    <h1>Salom Dunyo</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident eligendi alias optio consectetur nemo hic
        possimus dolore nisi suscipit quo illo quis explicabo, veritatis ullam totam quae dolor perferendis deleniti eos
        perspiciatis id natus doloremque. Pariatur nobis modi libero facilis inventore recusandae impedit, nulla, odio
        esse accusamus deleniti dolore, at consectetur? Consequuntur quis nostrum quasi autem id. Facere, dolor,
        voluptatem nesciunt adipisci modi aspernatur in perferendis hic ad ex architecto iusto voluptas quae velit omnis
        magni dolorem natus ipsum quo repudiandae rem. Assumenda dolor eos voluptate eum nihil culpa unde mollitia.</p>
    <p>
        Soluta sapiente. Nihil aspernatur amet natus reiciendis possimus perspiciatis recusandae quod minus iste, modi,
        sunt at consequatur eligendi. Dicta at, sed odit dolore recusandae blanditiis exercitationem est architecto
        inventore commodi numquam eum aut asperiores ex ea aperiam voluptatibus provident! Minima, minus eius mollitia
        nihil nam tenetur facilis totam laboriosam ea ipsum dolor libero itaque qui optio et earum incidunt enim porro
        iusto eos in soluta. Fugiat, necessitatibus similique? Aspernatur quas ullam recusandae cupiditate? At voluptas
        sapiente harum excepturi soluta maiores velit unde non id ut veritatis dolores expedita, eos neque natus
        explicabo ex molestiae, sed totam ea voluptates nisi? Illo veniam dolores ad nisi facilis consectetur quia
        voluptatibus atque.</p>
</body>

</html>
