


<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>⛹️‍♀️CSS Course</title>

</head>

<body>
    <div class="Container">
        <h1>How to Connect CSS to HTML</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non assumenda modi architecto distinctio est
            adipisci quo nam deserunt, consectetur quibusdam quasi! Iusto assumenda soluta unde aperiam ducimus laborum
            voluptatum aut, temporibus delectus nobis, tempora a autem reprehenderit nostrum repellat velit aliquam
            adipisci quia, at <a href="HtmlAndCss.html" target="_blank">birinchi ishim</a> corrupti ratione fugiat error.
            Optio rerum voluptatum labore repellat consequatur expedita quod ad, quasi ducimus, nam repellendus quia
            aperiam fugiat eaque. Eligendi animi quas voluptatum quidem dolor repudiandae vitae iste officiis
            laudantium? Fuga quae quos illum sed error minima qui, nam necessitatibus nesciunt nisi iste.</p>
        <button class="button">Read more</button>
    </div>

    <div class="Container2">
        <h2>Salom Dunyo</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas illum accusamus deserunt! Nesciunt animi, nulla
            doloribus impedit earum enim placeat neque minus sequi, repellat repellendus eligendi veritatis, et quas
            minima eaque alias eos hic expedita magni vel modi delectus. Natus in placeat dignissimos, quidem animi
            dolore voluptate labore provident sapiente voluptatum eveniet non eligendi sed repellat facere saepe ex amet
            nihil eum, totam suscipit perspiciatis maxime. Saepe molestias impedit voluptatem. Harum, blanditiis.
            Facilis eius officiis molestias unde eos? Lorem ipsum, dolor sit amet consectetur adipisicing elit. <a
                href="https://google.com" target="_blank">Salom</a> Asperiores quae, necessitatibus ipsam laboriosam
            earum minus eaque quas voluptatibus deserunt tenetur eum quam sed amet quo veritatis iusto, fugiat ad id
            odit. Incidunt ad illum doloremque consequuntur maiores sint architecto cum soluta magnam repellendus et,
            ullam dolor cupiditate doloribus facere animi facilis sequi! Ipsam quidem sequi incidunt debitis doloremque,
            magnam excepturi repudiandae! Distinctio ipsa, tenetur nemo eius quisquam corrupti minima culpa quibusdam
            saepe, ad fuga eaque possimus voluptatem laboriosam vel expedita tempore fugit praesentium obcaecati aut
            facilis atque quis veniam!</p>
    </div>

    <div class="Box-3">
        <h1>Categories</h1>
        <ul class="Categories">
            <li>Category 1</li>
            <li>Category 2</li>
            <li>Category 3</li>
            <li>Category 4</li>
            <li>Category 5</li>
            <li>Category 6</li>
        </ul>
    </div>

    <div class="myForm">
        <form>
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Your first name">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Your Email">
            <label for="message">Message</label>
            <textarea id="message" placeholder="Your message"></textarea>
            <br>
            <button class="button">Submit</button>
        </form>
    </div>

    <div class="bottom">&copy; Copy</div>
</body>

</html>
